<form role="form">
  <div class="row header controls-wrapper">
    <div class="col-xs-12"
         ng-hide="inCategoryCreation">
      <div class="category"
           ng-repeat="category in wp.categories|filter:{_hidden:false}"
           ng-class="{selected: category._selected}"
           ng-click="selectCategory(category)">
        <div class="category-fill category-{{category._index}}">
        </div>
      </div>
      <div class="category"
           id="category-add"
           ng-click="createCategory()">
        <div class="category-fill category-add">
          +
        </div>
      </div>
      <div class="category"
           id="category-remove"
           ng-click="destroySelectedPeriod()"
           ng-class="canIDestroy() ? '' : 'invisible'">
        <div class="category-fill category-remove">
          x
        </div>
      </div>
    </div>
    <div class="col-xs-12"
         ng-show="inCategoryCreation">
      <div class="category"
         ng-repeat="category in wp.categories|filter:{_hidden:true}"
         ng-class="{selected: category._selected}"
         ng-click="selectCategory(category)">
        <div class="category-fill category-{{category._index}}">
        </div>
      </div>
      <div class="category"
           id="category-exit"
           ng-click="abortNewCategory()">
        <div class="category-fill category-exit">
          &larrow;
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <input type="text"
             class="form-control"
             id="textbox"
             ng-model="textbox"
             placeholder="command" />
    </div>
  </div>
</form>

<div class="row year header">
  <div class="col-xs-1"></div>
  <div class="col-xs-3" ng-repeat="week in weeksHeaders">
    {{week}}
  </div>
</div>

<div class="weeks-wrapper"
     ng-mouseleave=""
     ng-mouseup="abortNewPeriod()"
     ng-keypress="keyPressed($event)">
  <div class="row year" ng-repeat="year in wp.years">
    <div class="col-xs-1 year-number">
      {{year.num}}
    </div>
    <div class="col-xs-1"
         ng-repeat="week in year.weeks">
      <div class="week"
           ng-class="getWeekClasses(week)"
           ng-mousedown="startSelection(week, $event)"
           ng-mouseup="endSelection(week, $event); $event.stopPropagation()"
           ng-mouseover="hoverWeek(week, $event)">
        &nbsp;
      </div>
    </div>
  </div>
</div>

<div id="add-category-modal"
     class="modal"
     role="modal">
  <form id="add-category">
    <input type="text"
           placeholder="hex value"
           value="" />

    <input type="text"
           placeholder="name"
           value="" />

    <input type="submit"
           value="create">
  </form>
</div>

<style ng-repeat="category in wp.categories">
  .category-{{category._index}}{
    background-color: {{category._color}};
    border-color: {{category._color}};
  }
</style>